.profile-page {
  display: flex;
  margin-top: 0%;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.left-side{
  margin-top: 1rem;
  margin-left: 2rem;
  display:flex;
  flex-direction: column;
}
.right-side{
  margin-top:1rem;
}


.profile-workouts {
  display: flex;
  flex-wrap: wrap;
}