.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://static01.nyt.com/images/2020/03/10/well/physed-immune1/physed-immune1-mediumSquareAt3X.jpg");
}

.nav-link {
  text-align: center;
  width: 50%;
}

.login-label {
  display: flex;
  flex-direction: column;
}

.login-image {
  overflow: hidden
}

.login-top {
  text-align: center;
}

.login-section {
  width: 50vw;
  display: flex;
  align-items: center;
}

.login-form-section {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.login-form-row {
  display: flex;
  justify-content: space-around;
}

.login-radio-row {
  display: flex;
  align-items: flex-start;
  margin: 0 0 0.5rem 0;
}

.radio-label {
  margin: -0.25rem 1rem;
}

.login-card {
  background-color: white;
  width: 30rem;
  padding: 2rem;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 8px;
}

.login-form, .signup-form {
  padding: 1rem 0;
}

#login-btn, #signup-btn {
  background-color: #34A2B8;
  color: white;
  margin: 1rem 0 0 0;
  width: 100%;
  text-decoration: none;
}

#err-msg-login, #err-msg-signup {
  margin: 2rem 1rem 1rem 1rem;
  text-align: center;
}