#login-img {
  height: 120vh;
  width: 50vw;
  object-fit: cover;
}

.login-image {
  overflow: hidden
}

.login-top {
  margin: 5vh 0 1rem 0;
}

.login-section {
  width: 50vw;
  display: flex;
  align-items: center;
}

.login-form-section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.login-form-row {
  display: flex;
  justify-content: space-around;
}

.login-radio-row {
  display: flex;
  align-items: flex-start;
  margin: 0 0 0.5rem 0;
}

.radio-label {
  margin: -0.25rem 1rem;
}

.login-card {
  background-color: white;
  width: 30rem;
  padding: 2rem;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 8px;
}

.login-form, .signup-form {
  padding: 1rem 0;
}

#login-btn, #signup-btn {
  background-color: #34A2B8;
  color: white;
  margin: 1rem 0 0 0;
  width: 100%;
  text-decoration: none;
}