.filters {
    width: 20rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.2), 0 6px 20px 0 rgba(190, 190, 190, 0.2);
    margin: 3rem 4rem;
    background-color: white;
    position: fixed;
    z-index: 4;
}

.filter-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.filter-col {
    display: flex;
    flex-direction: column;
}

#filter-header {
    margin: 1rem 0 0;
}

.checkbox-input {
    margin: 0 0.5rem;
}

.filter-title {
    margin: 1rem 0 0.5rem 0;
}

#reset-btn {
    margin: 1rem 0;
}