.expanded-user-profile {
  width: 100rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.2), 0 6px 20px 0 rgba(190, 190, 190, 0.2);
  margin: 4rem 2rem;
  background-color: white;
}

#exp-profile-pic {
  width: 6rem;
  height: auto;
  border-radius: 50%;

  margin-top: 5px;
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.2), 0 6px 20px 0 rgba(190, 190, 190, 0.2);
}

#exp-name {
  padding: 1rem 0 0.5rem 0;
}

.exp-follow-container {
  display: flex;
  justify-content: space-evenly;
}

.exp-follow-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}