.home-main {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.home-recs {
  display: flex;
  flex-wrap: wrap;
}

#recommendations {
  margin: 2rem 3rem 0rem 1rem;
}

.rec-loading {
  margin: 2rem 3rem 0rem 1rem;
}