@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  border: none;
  color: white;
  background-color: #34A2B8;
  padding: 0.5rem;
  border-radius: 4px;
}

.submit-btn:hover {
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: #49b5ca;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.fade-in {
  animation: fadeIn 1.5s ease forwards;
}

/* .nav-tabs {
  width: 100%;
}

.nav-item {
  width: 50%;
  text-align: center;
} */

