.workout-item {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 17rem;
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.2), 0 6px 20px 0 rgba(190, 190, 190, 0.2);
  margin: 1rem;
  background-color: white;
  padding: 1rem;
}

.workout-posting-user {
  font-size: 1.1rem;
}

.workout-user {
  display: flex;
  align-items: flex-start;
}

.follow-btn {
  width: 6rem;
  border: 1px solid grey;
  padding: 0.1rem 0;
  background-color: white;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  margin: 0 0.25rem 0 0.5rem;
}

.follow-btn:hover {
  cursor: pointer;
}

.following-btn {
  width: 6rem;
  border: none;
  padding: 0.1rem 0;
  background-color: #9c9c9c;
  color: white;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  margin: 0 0.25rem 0 0.5rem;
}

.following-btn:hover {
  cursor: pointer;
}