.workout-container {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 17rem;
  box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.2), 0 6px 20px 0 rgba(190, 190, 190, 0.2);
  margin: 1rem;
  background-color: white;
  padding: 1rem;
}

.workout-poster {
  display: flex;
}