.active-nav {
  border-bottom: 3px solid #13A3b8;
}

.item {
  margin: 0.5rem 1rem;
  padding: 0.25rem;
  color: white;
  text-decoration: none;
}

.item:hover {
  cursor: pointer;
  color: white;
  border-bottom: 3px solid #13A3b8;
  text-decoration: none;
}

#logout-btn {
  height: 2.5rem;
  width: 5rem;
  align-self: center;
}

#toolbar {
  display: flex;
  align-items: flex-start;
}

.modal-body-logout {
  margin: 0 1rem;
}